---
title: Email Verification
description: Verify the email address of your prospects.
date: 2025-09-03
---

![Email Verification](./email-verification.jpeg)

We've added support for verifying the email address of your prospects. We show project owners prospects with verified emails and therefore more likely to convert into customers.

## Documentation

See our complete documentation [here](https://docs.buildhype.dev/docs/waitlist/email-verification).