---
import { Waitlist } from "./waitlist";
---

<div
  class="p-10 flex flex-col gap-4 items-center justify-center bg-neutral-900 border border-neutral-800"
>
  <div class="text-lg font-bold">Get started with Hype</div>
  <Waitlist client:load />
</div>
