---
import { Waitlist } from "./waitlist";
---

<div class="flex flex-col items-center justify-center w-full mx-auto absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
  <p
    class="text-3xl md:text-4xl lg:text-5xl font-black mb-4 text-balance max-w-2xl text-center text-balance"
  >
    Waiting lists you and your customers will love
  </p>
  <p class="max-w-lg text-center text-balance mb-10">
    Hype is an open-source platform for developers to manage their demand for
    early access to their products. Easily add waitlists, referals, onboarding
    and payments with Hype.
  </p>
  <div class="mb-10">
    <Waitlist client:load />
  </div>
</div>
